@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", serif;
    background-color: #93B2B4;
    margin: 0;
    text-align: center;
}

a {
    color: white;
}

.pageHeader {
    background-color: #1F487E;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 450px;
    margin: auto;
}
.gridCell {
    width: 150px;
    height: 150px;
    background-color: #376996;
    color: white;
    border: 2.5px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}